CSV Files used in generating the complete graph

In [15]:
Id=[2815077014, 95807398, 14968475, 1408142352, 2785337469, 246939962, 101609102, 1720046887, 1189744336415723520, 2190533245, 46950574, 926822348853886976, 720389270335135745, 830589635738816512, 3107101390, 85648537, 427431943, 701121510, 1190461842922995712, 82859989, 1318834900590563328, 1948032967]
print(Id) # set B
print("Number of users in B", len(Id))

[2815077014, 95807398, 14968475, 1408142352, 2785337469, 246939962, 101609102, 1720046887, 1189744336415723520, 2190533245, 46950574, 926822348853886976, 720389270335135745, 830589635738816512, 3107101390, 85648537, 427431943, 701121510, 1190461842922995712, 82859989, 1318834900590563328, 1948032967]
Number of users in B 22

In [9]:
import pandas as pd
df1 = pd.read_csv('Top100_A.csv',names=["source", "target"])
print("Total Mappings from B to A", len(df1))
print("Total unique users in A", len(df1.target.unique()))
df1.head(5)

Total Mappings from B to A 1860
Total unique users in A 1744

       source               target
0  2815077014             30380195
1  2815077014   973580430594068480
2  2815077014             16912124
3  2815077014             47269394
4  2815077014  1247066262305255427

In [16]:
df1 = pd.read_csv('Top100_C.csv',names=["source", "target"])
print("Total Mappings from C to B", len(df1))
print("Total unique users in C", len(df1.source.unique()))
df1.head(5)

Total Mappings from C to B 2153
Total unique users in C 1855

                source      target
0   977945852655398913  2815077014
1  1387590299460022274  2815077014
2  1118263395067805696  2815077014
3  1095695574983004160  2815077014
4           1127622500  2815077014

In [10]:
df1 = pd.read_csv('twohopFollowersA.csv',names=["source", "target"])
print("Total Mappings from A1 to A", len(df1))
print("Total unique users in A1", len(df1.source.unique()))
df1.head(5)

Total Mappings from A1 to A 4103998
Total unique users in A1 2196960

                source    target
0            100820994  30380195
1           2484333296  30380195
2           3039465335  30380195
3             15613012  30380195
4  1150741528068927489  30380195

In [11]:
df1 = pd.read_csv('twohopFriendsA.csv',names=["source", "target"])
print("Total Mappings from A to A2", len(df1))
print("Total unique users in A2", len(df1.target.unique()))
df1.head(5)

Total Mappings from A to A2 1572775
Total unique users in A2 646623

     source               target
0  30380195           2492917412
1  30380195             64345702
2  30380195   748528569064710145
3  30380195   822476436548161537
4  30380195  1105561442558844928

In [12]:
df1 = pd.read_csv('twohopFollowersC.csv',names=["source", "target"])
print("Total Mappings from C1 to C", len(df1))
print("Total unique users in C1", len(df1.target.unique()))
df1.head(5)

Total Mappings from C1 to C 596495
Total unique users in C1 1604

               source              target
0  807322483242180608  977945852655398913
1          2363575844  977945852655398913
2          2874023677  977945852655398913
3          4438556356  977945852655398913
4  960610837047033856  977945852655398913

In [13]:
df1 = pd.read_csv('twohopFriendsC.csv',names=["source", "target"])
print("Total Mappings from C to C2", len(df1))
print("Total unique users in C2", len(df1.target.unique()))
df1.head(5)

Total Mappings from C to C2 1239922
Total unique users in C2 562596

               source              target
0  977945852655398913           130745589
1  977945852655398913          2815077014
2  977945852655398913  806206253634457600
3  977945852655398913           175282603
4  977945852655398913          3918111614